<!DOCTYPE html>
<html >
<head>
    <title><%= title%></title>
</head>
<body>



<script type="text/javascript" src="/nj_fct/lib/angular/angular.js"></script>
<script type="text/javascript" src="/nj_fct/lib/angular-route/angular-route.js"></script>
<script type="text/javascript" src="/nj_fct/lib/angular-resource/angular-resource.js"></script>
<script type="text/javascript" src="/nj_fct/lib/angular-animate/angular-animate.js"></script>
<script type="text/javascript" src="/nj_fct/lib/angular-touch/angular-touch.js"></script>

<script type="text/javascript" src="/nj_fct/lib/jquery/dist/jquery.js"></script>


<script src="/nj_fct/lib/angular-ui-grid/ui-grid.js"></script>
<script src="/nj_fct/lib/angular-bootstrap/ui-bootstrap.js"></script>
<script src="/nj_fct/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
 
    <link rel="stylesheet" href="/nj_fct/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="styleSheet" href="/nj_fct/lib/angular-ui-grid/ui-grid.css"/>
    <link rel="styleSheet" href="/nj_fct/lib/my-ui-grid.css"/>
    <link rel="styleSheet" href="/nj_fct/lib/my-dialog.css"/>
    <link rel="styleSheet" href="/nj_fct/lib/my-validation.css"/>
    <link rel="styleSheet" href="/nj_fct/lib/my-common.css"/>


    <script type="text/javascript" src = "broUser/controller/user.controller.js"></script>

</html>

